[Unit]
Description=Fritzbox DynDNS Service

[Service]
Type=simple
ExecStart=/usr/local/lib/fritzbox_dyndns_update/fritzbox_dyndns_update.py \
	--config /etc/fritzbox_dyndns_update.ini
Restart=no

[Install]
WantedBy=multi-user.target
